<form role="form" method="post">
  <div class="form-group">
    <label for="post">username</label>
    <input name="post" type="text" class="form-control" id="username" placeholder="Enter username">
  </div>
  <button type="submit" class="btn btn-default">发言</button>
</form>